#root {
  max-width: 760px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.article-card {
  background: rgb(212, 220, 245);
  padding: 0.5em 0.5em;
  margin: 1em 1em;
  width: 20em;
  height: 30em;
  object-fit: cover;
  border-radius: 10px;
}

.articles-list {
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: none;
}

button {
  background: #00c9a7;
  color: white;
  padding: 0.5em 1em;
  margin: 1em 1em;
  border-radius: 10px;
  border: none;
  font-family: 'Zilla Slab', serif;
  font-size: 1rem;
}

img {
  width: 10em;
  height: 10em;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 10px 10px hotpink;
}




